{{ partial "head.html" . }}
<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">
      <div class="post-header mb2">
        {{ if .Params.externalurl }}
        <h1 class="py2"><a href="{{ .Params.externalurl }}">{{ .Title }}</a></h1>
        {{ end }}
        {{ if not .Params.externalurl }}
          <h1 class="py2">{{ .Title }}</h1>
        {{ end }}
      </div>

      <article class="post-content">
      {{ .Content }}
      </article>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
